body{
  background-color: white;
  font-family: sans-serif, 'Roboto';
}

.grid{
  display: grid;
  grid-template-columns: 29% 70%;
  background-color:#f0f1f0;
  padding: 1%;
  column-gap: 1%;
}

.lateral{
  border: 2px solid  #ada1df;
  background-color: #e8bfe8;
  
}
.principal{  
  border: 3px solid #ada1df;
}

.foto{
  margin: 5%;
  text-align: center;
  
}

#perfil{
  border: 2px solid #7c1a36;
  border-radius: 100%;
  width: 70%;
}

i{
  font-family: "FontAwesome", sans-serif;
  src: url('https://fontawesome.com/icons/phone?s=solid&f=classic');
  font-size: 100%;
  color: #400c26;
  margin: 2%;
}

h3{
  font-style: italic;
  font-weight: bold;
  color: #7c1a36;
  text-shadow: 1px 1px white;
}

h4{
  margin: 5%;
  font-style: italic;
  color: black;
  text-shadow: 1px 2px #e8bfe8;
}

.textolate{
  text-shadow: 1px 2px white;
}

h5{
  color: #7c1a36;
  font-weight: bold;
  text-decoration-line: underline;
}

h6{
  font-style: italic;
}

hr{
  margin: 20px;
  color: white;
}

#barra{
  margin: 3%;
}

.habi{
  margin: 5%;
}

.qr{
  width: 50%;
  margin-top: 5%;
}

.logoqr{
  text-align: center;
}

.botonabout{
  text-align: center;
}

#boton{
  background-color: #7c1a36;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding: 2%;
}

#boton:hover{
  font-weight: bolder;
  box-shadow: 3px 4px 10px grey;
}

.formacion{
  padding-left: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-top: 1%;
  margin-bottom: 2%;
  background-color: lightgrey;
}

.formacion2{
  padding-left: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  background-color: #f0f1f0;
}
.educ{
  font-size: 10px;
}

li{
  font-size: 15px;
}

#about{
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  text-justify: distribute-all-lines;
  margin-bottom: 3%;
}

#inicio{
  background-color: #e8bfe8;
  width: 80px;
  height: 60px;
  font-size: 40px;
}

#inicio:hover{
  box-shadow: 3px 4px 10px grey;
}

.arriba{
  text-align: right;
  margin-right: 2%;
  margin-bottom: 1%;
}

.contacto{
  font-size: 12px;
}

.color1 {color: #400c26;}
.color2 {color: #7c1a36;}
.color3 {color: #ada1df;}
.color4 {color: #e8bfe8;}
.color5 {color: #f0f1f0;}